//
// Shadow
// ==============================================


// Card Shadow
// ----------------------------------------------

@mixin card-shadow($opacity) {
  // main .05
  // darker .1
  box-shadow: 5px 5px 25px rgba(0, 0, 0, $opacity);
}


// Part Shadow
// ----------------------------------------------

@mixin part-shadow($opacity) {
  // main .05
  box-shadow: 2px 3px 15px rgba(0, 0, 0, $opacity);
}

// Stack Shadow
// ----------------------------------------------

@mixin stack-shadow($color: rgba(53, 50, 59, 0.02)) {
  box-shadow: 0px 2px 2px 0px $color,
              0px 4px 4px 0px $color,
              0px 8px 8px 0px $color,
              0px 16px 16px 0px $color,
              0px 32px 32px 0px $color,
              0px 64px 64px 0px $color;
}
