//
// Color
// ==============================================

// Text
// ----------------------------------------------

$cl-text-brand:        #f18903; // rgb(241, 137, 3) orange for text

$cl-text-title:        #474a54;
$cl-text-body:         #474a54;
$cl-text-minor:        #7a7979;
$cl-text-muted:        #bbbbbb;
$cl-text-ghost:        #f4f7f9;

// Deluxe
// ----------------------------------------------

$cl-brand-dark:        #f18903; // rbg(241, 137, 3) orange
$cl-brand:             #ffb400; // rbg(255, 180, 0) gold
$cl-brand-light:       #ffdb5e; // rbg(255, 219, 94) yellow

$cl-pink:              #fd3bbb;
$cl-red:               #e61c29;
$cl-green:             #7FB800;
$cl-blue:              #00A6ED;

// Border
// ----------------------------------------------

$cl-border-light:      #eeeeee;
$cl-border:            #dddddd;
$cl-border-dark:       #cccccc;

// Background
// ----------------------------------------------

$cl-bg-light:          #f8f8f8;
$cl-bg:                #f1f1f1;
