//
// Nav
// Base nav style
// ==============================================


.nav {
  border-bottom: none;
  display: flex;
}

.nav__item {
  font-weight: 700;
  height: 100%;
  display: flex!important; // Overriding bootstrap
  justify-content: center;
  flex-direction: column;

  &--primary {
    @extend %h3;

    color: #ffffff;
  }
}

.nav__link:hover {
  color: inherit;
  background-color: inherit!important; // Overriding bootstrap
}

.nav-wrapper {
  display: flex;
  justify-content: center;
}

.nav--capsule {
  .nav__item {
    background-color: rgba(255, 255, 255, .75);
    color: $cl-text-minor;
    font-weight: 700;

    &:first-of-type {
      border-radius: 4px 0 0 4px;
    }

    &:last-of-type {
      border-radius: 0 4px 4px 0;
    }

    &.active {
      color: $cl-text-body;
      background-color: #ffffff;
      box-shadow: 0 2px 8px 0 transparentize($cl-brand-dark, .4);

      .nav__icon { color: $cl-text-brand; }
    }
  }

  .nav__link {
    padding: .75em 1.625em .75em 1.5em!important; // Overriding bootstrap

    &--first:hover,
    &--first:focus, {
      border-radius: 4px 0 0 4px;
    }

    &--last:hover,
    &--last:focus {
      border-radius: 0 4px 4px 0;
    }

    &--first:focus,
    &--last:focus {
      background-color: #ffffff!important; // Overriding bootstrap
    }
  }
}

.nav__icon {
  font-size: 1.125em;
  font-style: normal;
  margin-right: .5em;
}