//
// Nav
// Base nav style
// ==============================================


.nav {
  border-bottom: none;
  display: flex;
}

.nav__item {
  @extend %h3;

  color: #ffffff;
  font-weight: 700;
  height: 100%;
  display: flex!important; // Overriding bootstrap
  justify-content: center;
  flex-direction: column;
}