//
// Tab Pane
// ==============================================

.tab-pane {
  padding: 2% 3.4% 3.4% 3.4%!important; // Overriding bootstrap

  &__inner {
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    grid-column-gap: 3%;
    grid-row-gap: 1.875vw;

    @include breakpoint(md) {
      grid-template-columns: none;
      grid-row-gap: 1rem;
    }
  }

  @include breakpoint(md) {
    margin-top: .5rem!important; // Overriding bootstrap
    padding-left: 1rem!important; // Overriding bootstrap
    padding-right: 1rem!important; // Overriding bootstrap
    padding-bottom: 1.5rem!important; // Overriding bootstrap
  }
}