//
// Table
// ==============================================

.tbl-wrapper {
  overflow: auto;
}

.tbl {
  width: 100%;

  & > thead > tr > th,
  & > tbody > tr > th {
    border-bottom: 1px solid $cl-border-dark;
    padding-top: .5em;
    padding-bottom: .5em;

    &.bdw0 { border-width: 0; }
  }

  & > tfoot > tr > td,
  & > tbody > tr > td {
    border-bottom: 1px solid $cl-border-light;
    padding: .5em 1em;
  }

  & > tfoot > tr > td {
    font-weight: 700;
    border-top-color: $cl-border-light;
    background-color: $cl-bg-light;
  }

  // container of child tables
  &__container {
    padding: 0!important;
    border-bottom-width: 0!important;
  }

  &__title {
    @extend %h2;

    padding-left: .5em;

    &:before {
      content: '\f10c';
      font-family: 'FontAwesome';
      font-size: .75rem;
      font-weight: bold;
      color: $cl-text-brand;
      position: relative;
      vertical-align: middle;
      top: -.125em;
      left: -.75em;
    }
  }

  &__td-title {
    font-weight: 500!important;
    white-space: nowrap;
  }
}