//
// Default
// ==============================================

.page {
  margin: 0;
  padding: 0;
  position: relative;
  overflow-y: visible;
}

.page-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  // under .footer__copyright
  z-index: -2;
}

.page-bg__1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: calc(100vw * 900 / 1600);
  background: #ffc639
              url('/img/bg-team-chatting-coffee-1600x900.jpg')
              center top
              / 100% auto
              no-repeat;

  clip-path: polygon(0 0,
                   100% 0,
                   100% calc(100% - 10vw),
                   0 100%);

  @include breakpoint(xxxl) {
    height: 900px;
  }

  @include breakpoint(sm) {
    background-size: auto 40vh;
    height: 40vh;
  }
}

.page-bg__2 {
  position: absolute;
  width: 100%;
  height: calc(100vw * 1400 / 1600);
  // under .bg-img-1
  z-index: -1;
  top: calc(100vw * 900 / 1600 - 10vw);
  background: #f5f5f5
              url('/img/bg-laptop-coffee-ghost-white-1600x1400.jpg')
              center top
              / 100% auto
              no-repeat;


  @include breakpoint(xxxl) {
    top: calc(900px - 10vw);
  }

  @include breakpoint(sm) {
    top: calc(40vh - 10vw);
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 10vw;
}

.main {
  @extend %section;

  background-color: transparent;
}

