//
// Default
// ==============================================

.page {
  margin: 0;
  padding: 0;
  background: #f7f7f7
              url('/img/bg-team-chatting-coffee-1600x2148.jpg')
              center top
              / cover
              no-repeat;

  @include breakpoint(sm) {
    background-size: 150% auto;
  }
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 5vw;
  padding-right: 5vw;
}

.main {
  @extend %section;

  background-color: transparent;
}

